<div class="mx-0 mb-0 my-5 ">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #0e182d"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between  p-4"
               style="background-color:#569adf;"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook-official"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Movie Scope</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 110px;  height: 2px"
                  />
              <p>
                Our app is designed to make your movie-watching experience as smooth and enjoyable as possible. You can browse our library of movies by title, genre, year of release, or language, and even filter your search results based on your preferred ratings and reviews. Once you've found a movie you like, you can watch it directly on our app, without any hassle or interruptions.
              </p>
            </div>
            
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 110px; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Community </a>
              </p>
              <p>
                <a href="#!" class="text-white">Join Us</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 80px; height: 2px"
                  />
              <p><i class="fa fa-map-marker mx-2"></i> Casablanca, Sidi Masoud 20150, Morocco</p>
              <p><i class="fa fa-envelope mx-2"></i> movie@scope.com</p>
              <p><i class="fa fa-phone mx-2"></i> + 212 599 73 62 56</p>
              <p><i class="fa fa-print mx-2"></i> + 212 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
  
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright :
        <a class="text-white" href="#"
           >moviescope.com</a>
      </div>
    </footer>
</div>
